@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Source+Sans+Pro');
/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Noto Sans', sans-serif;
*/

body {
    font-family: 'Roboto', sans-serif;
}

.sloganskew {
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */
    padding: 0 5px;
}

.nav-font {
    font-size: 1.2em;
}

/* sidebar */

#sidebar {
    border-left-style: inset;
}
#sidebar h4 {
    text-align: center;
}
.fb-b {
    font-size: 24px;
    color:  #29487d;
}
.fb-b:hover {
    font-size: 25px;
}

/* footer */
footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(32, 32, 32, 0.082);
}
footer p {
    margin-bottom: 0;
}

/* products page */

.sm-ca {
    padding: 25px;
}
.bg-tran {
    background-color: rgba(0,0,0,.3);
    text-shadow: .5px .5px black;
}

/* digi */

.tr {
    text-align: right;
}

/* custom for different screen sizes */

/* Large desktop screens */
@media only screen and (min-width: 1500px) {
    .mainContent {
        padding-left: 125px;
    }
    #sidebar p {
        padding-left: 15px;
    }
}

/* Small mobile screens */

@media only screen and (max-width: 576px) {
    #sidebar {
        border-left-style: none;
    }
}









